body{
    background: url('../image/Bg5.png') no-repeat center center;
    background-size: cover;
    
}
/* .card{
    background: url('../image/Card2.png') no-repeat center center;
    background-size: cover;
} */